name: Publish Package to npmjs
on:
  release:
    types: [created]
  push:
    tags:
      - v*

permissions:
  id-token: write  # Required for OIDC
  packages: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest 

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: "Setup node"
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: 'https://registry.npmjs.org'
          scope: '@aleph-front'

      - name: "Prepare npmrc"
        run: envsubst  < .npmrc_ci > .npmrc
        env:
          FONTAWESOME_NPM_AUTH_TOKEN: ${{ secrets.FONTAWESOME_NPM_AUTH_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN}}

      - name: "Install deps"
        run: npm ci --legacy-peer-deps

      - name: "Build"
        run: npm run build --if-present

      - name: "Publish package"
        run: npm publish --ignore-scripts --access public
