name: Publish Package to npmjs
on:
  release:
    types: [created]
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest 
    
    permissions: 
      contents: read
      packages: write 

    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: "Setup node"
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'
          scope: '@aleph-front'

      - name: "Prepare npmrc"
        run: envsubst  < .npmrc_ci > .npmrc
        env:
          FONTAWESOME_NPM_AUTH_TOKEN: ${{ secrets.FONTAWESOME_NPM_AUTH_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN}}

      - name: "Install deps"
        run: npm ci

      - name: "Build"
        run: npm run build

      - name: "Publish package"
        run: npm publish --ignore-scripts --access public
